/* General Styling */
body {
  background-color: #E2DAD6;
  font-family: "Montserrat", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  background-color: #1c1c1c;
  padding: 15px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f8f9fa;
}

.container {
  max-width: 1100px;
  margin-top: 50px;
}

.text-center h2 {
  color: #333;
  font-weight: 700;
  margin-bottom: 30px;
}
.text-center p {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 50px;
}

/* Logo Box Styling */
.logo-box {
  border: none;
  padding: 40px;
  margin-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #DFD3C3;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.logo-box:hover {
  transform: scale(1.07);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.logo-box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
}
h5 {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 1rem;
  color: #555;
}

.text-muted {
  color: #888 !important;
}

.text-center {
  margin-bottom: 60px;
}

/* Responsive and Layout Changes */
@media (min-width: 768px) {
  .row .col-md-4 {
    display: flex;
    justify-content: center;
  }
}

/* One box down */
@media (min-width: 992px) {
  .row.text-center {
    flex-wrap: wrap;
  }

  .col-md-12 .logo-box {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  h5,
  p {
    font-size: 0.9rem;
  }

  .logo-box img {
    max-height: 200px;
 }
}